.feiyan-table{
  -moz-user-select:none; /*火狐*/
  -webkit-user-select:none; /*webkit浏览器*/
  -ms-user-select:none; /*IE10*/
  -khtml-user-select:none; /*早期浏览器*/
  user-select:none;
  margin: 20px;
  .thead{
    color: $theme;
    display: flex;
    align-items: center;
    position: sticky;
    top: 20px;
    background-color: white;
    li{
      padding: 6px;
      width: 100px;
      span{
        cursor: pointer;
      }
    }
  }
  .tbody{
    display: flex;
    flex-direction: column;
    ul{
      display: flex;
      align-items: center;
      li{
        padding: 6px;
        width: 100px;
      }
    }
  }
}
