.panel{
  padding: 20px;
  margin: 20px;
  border: solid 1px red;
}
.item-border{
  border: solid 1px blue;
  padding: 10px;
}

.child-panel{
  border: solid blueviolet 1px;
  padding: 10px;
  margin: 10px;
}
